<form class="busquedaParte">
      <button matSuffix mat-raised-button color="primary" data-toggle="modal" [attr.data-target]="'#frmparte'+ instancia" [disabled]="aprobada" (click)="obtenerPartes()">Añadir Parte</button>
</form>

<div [attr.id]="'frmparte'+ instancia" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title" id="frmbusqueda"></h4>
          </div>
          <div class="modal-body">
              <input type="hidden" id="idmenu" value="">
              <form class="form-horizontal">
                  <div class="box-body">
                      <div class="form-group">
                          <label><b>Buscar:</b></label>
                          <input class="form-control" placeholder="Escribe aqui lo que desees Buscar" type="text" name="txtBuscaParte" (keyup)="filtrar()" 
                          [(ngModel)]="filtro"/>
                      </div>
                        <kendo-grid 
                        [data]="gridData" 
                        [height]="400"
                        [pageable]="true"
                        [pageSize]="pageSize"
                        [skip]="skip"
                        (pageChange)="pageChange($event)"
                        >
                            <kendo-grid-column field="codigo_int" title="Codigo" width="120">
                            </kendo-grid-column>
                            <kendo-grid-column field="codigo_cliente" title="Descripcion">
                            </kendo-grid-column>
                            <kendo-grid-column field="tipoVenta" title="Tipo de Venta">
                            </kendo-grid-column>
                            <kendo-grid-command-column title="Acciones" width="110">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    <button class="k-primary" (click)="agregarParte(dataItem)" data-dismiss="modal">Seleccionar</button>
                                </ng-template>
                            </kendo-grid-command-column>
                        </kendo-grid>   
                  </div>
              </form>
          </div>
          <div class="modal-footer">
          </div>
      </div>
  </div>
</div>