<h2 id="titulo">Solicitud Cambio Vendedor Asignado</h2>
<div class="main-content">
    <div class="contenedorpadre">

        <button matSuffix mat-raised-button color="primary"
            (click)="irLista()">Lista Solicitudes
            Pendientes</button>
        <br><br>
        <h3>Nueva Solicitud</h3>
        <label>Solicita: </label><label>Nombre del solicitante</label>
        <!--Formulario de Consulta-->
        <div class="row">
            <div class="col-4">
                <app-busqueda-cliente  (cliente)="obtenerCliente($event)"
                    [clienteSeleccionado]="cliente.nombre"></app-busqueda-cliente>
            </div>
            <div class="col-4">
                <app-busqueda-embarcar [embarcarSeleccionado]="embarcar.descripcion"
                    [_cliente]="cliente" (embarcar)="obtenerEmbarcar($event)">
                </app-busqueda-embarcar>
            </div>     
        </div>
        <button matSuffix mat-raised-button color="primary" [hidden]='!cargando' (click)="limpiar()">
            Limpiar Filtros
        </button> 
        <br><br>
        <!--Formulario de Cambio-->
        <div [hidden]='!cargando' class="row">
            <!--Vendedores Actuales-->
            <div class="col-4">
                <b>
                    <h3>Vendedores Actuales</h3>
                </b>
                <b>Inside Sales: </b><br><br>
                <p>{{ inside.nombre }}</p><br>
                <b>Gerente de Ventas: </b><br><br>
                <p>{{ vendedor.nombre }}</p><br>
                <b>Sub Director de Ventas: </b><br><br>
                <p>{{ subdir.nombre }}</p><br>
            </div>
            <!--Vendedores Nuevos-->
            <div class="col-4">
                <b>
                    <h3>Vendedores Nuevos</h3>
                </b>
                <b>Inside Sales: </b> <app-busqueda-vendedor [vendedorSeleccionado] = "inside_nuevo.nombre" [instancia]="1" [tipo_vendedor]="'i'" (oVendedor)="inside_nuevo = $event"></app-busqueda-vendedor>
                <b>Gerente de Ventas: </b> <app-busqueda-vendedor [vendedorSeleccionado] = "vendedor_nuevo.nombre" [instancia]="2" [tipo_vendedor]="'v'" (oVendedor)="vendedor_nuevo = $event"></app-busqueda-vendedor>
                <b>Sub Director de Ventas: </b> <app-busqueda-vendedor [vendedorSeleccionado] = "subdir_nuevo.nombre" [instancia]="3" [tipo_vendedor]="'v'" (oVendedor)="subdir_nuevo = $event"></app-busqueda-vendedor>
                <br><br>

                <button id="btnsolicitud" matSuffix mat-raised-button color="primary" [hidden]='!cargando' (click)="generarSolicitud()"> Solicitar Cambio </button>

            </div>
        </div>

    </div>
</div>